@{
    Layout = "_Layout";
}
<div>
    <div class="sidebar">
        <div style="font-size: 25px;">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Account">Account</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Friends">Friends</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Chats">Chats</a>
        </div>
    </div>
    <div class="content">
        @RenderBody()
    </div>
</div>
