@{
    ViewData["Title"] = "Home Page";
    Layout = "_MenuLayout";
}
<div class="text-center">
    <div style="font-size: 50px;">
        Account<br />
    </div>
    <label>Email: @ViewData["Email"]</label><br />
    <label>Name: @ViewData["Name"]</label>
</div>