@{
    Layout = "_MenuLayout";
}
<link rel="stylesheet" href="~/css/chat.css" />
<div class="content">
    <div class="pageContent">
        <div id="chat" class="chat">
            <div>
                <label>Search</label>
                <input type="text" id="searchBar" />
            </div>
            <div id="messagesList" class="messagesList"></div>
            <input type="text" id="messageInput" />
            <input type="button" id="sendButton" value="send" />
        </div>
        <ul class="chatsList" id="chatsList">
        </ul>
        <div id="createChatBlock" class="createChatBlock">
            <div class="chooseNameBlock">
                <label>Name: </label>
                <input type="text" id="nameTextInput" />
            </div>
            <div id="friendsListBlock" class="friendsListBlock">
                <div id="friendsList" class="friendsList">
                </div>
            </div>
            <div class="createChatButtonBlock">
                <input type="button" onclick="createChat();" value="Create chat" />
            </div>
        </div>
    </div>
</div>
<div class="rightSidebar">
    <label id="createChatLabel" class="sidebarButton" onclick="goToCreateChat()">Create chat</label>
</div>


<template id="chatEntry">
    <div class="chatEntry">
        <label></label>
    </div>
</template>

<template id="messageTemplate">
    <div>
        <label style="border-bottom: 1px solid #AAA;"></label>
        <messageDate style="color: #AAA"></messageDate>
    </div>
</template>

<template id="dateEntry">
    <div class="dateEntry">
        <label></label>
    </div>
</template>

<template id="friendEntryTemplate">
    <div class="friendEntryTemplate">
        <img class="friendProfileImage" />
        <label class="friendNameLabel">name1</label>
        <input type="checkbox" class="friendChosenCheckbox" />
        <input class="friendId" style="display: none;" />
    </div>
</template>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chats.js"></script>