@{
    Layout = "_MenuLayout";
}

<div class="pageContent">
    <div>
        <label>Search</label>
        <input type="text" id="searchBar" />
    </div>
    <div class="chats">
        
    </div>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
</div>