@{
    Layout = "_MenuLayout";
}
<link rel="stylesheet" href="~/css/friends.css" />
<div class="content">
    <div class="options">
        <label class="option" id="mineOption">Mine</label>
        <label class="option" id="allOption">All</label>
        <label class="option" id="inRequestsOption">In requests</label>
        <label class="option" id="outRequestsOption">Out requests</label>
    </div>
    <div style="position:relative; top: 10px;">
        <label>Search</label>
        <input type="text" id="searchBar"/>
    </div>
    <ul id="friendsList" class="friendsListStyle">
    </ul>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/friends.js"></script>
</div>

<template id="accountTemplate">
    <div class="friendBlock">
        <label class="friendLabel"></label>
        <div class="friendButtons">
            <input type="button" value="" />
            <input style="display: none;" type="button" value="chat" />
        </div>
    </div>
</template>