@{
    ViewData["Title"] = "Privacy Policy";
}
@model LoginModel

<div class="text-center" style="height: 600px">
    <div style="font-size: 50px;">
        Sign Up<br />
    </div>
    <form method="post" asp-controller="home" asp-action="SignUp" style="display: flex; flex-direction:column">
        <label style="align-self: center">Name</label>
        <input style="align-self: center" type="text" name="Name" />
        <label style="align-self: center">LastName</label>
        <input style="align-self: center" type="text" name="LastName" />
        <label style="align-self: center">Email</label>
        <input style="align-self: center" type="text" asp-for="Email" />
        <label style="align-self: center">Password</label>
        <input style="align-self: center" type="text" asp-for="Password" />
        <input style="align-self: center" type="submit" value="Sign up"/>
    </form>
</div>