@{
    ViewData["Title"] = "Home Page";
}
@model LoginModel

<div class="text-center" style="height: 600px">
    <div style="font-size: 50px;">
        Sign In<br />
    </div>
    <form method="post" asp-controller="home" asp-action="SignIn" style="font-size: 20px;">
        <label>Email</label><br />
        <input type="text" asp-for="Email"/><br />
        <label>Password</label><br />
        <input type="text" asp-for="Password"/><br /><br />
        <input type="submit" />
    </form>
</div>
