@{
    ViewData["Title"] = "Home Page";
}
@model LoginModel

<div class="text-center" style="height: 600px">
    <div style="font-size: 50px;">
        Sign In<br />
    </div>
    <form method="post" asp-controller="home" asp-action="SignIn" style="display: flex; flex-direction:column">
        <labe style="align-self: center" l>Email</labe>
        <input type="text" asp-for="Email" style="align-self: center" />
        <label style="align-self: center">Password</label>
        <input type="text" asp-for="Password" style="align-self: center" />
        <input type="submit" style="align-self: center" value="Sign in" />
    </form>
</div>
