.pageContent {
    display: none;
    height: 100%;
}

.chatsList {
    display: block;
    font-size: 30px;
    max-height: inherit;
    vertical-align: central;
}

.chatEntry {
    font-size: 30px;
    margin: 10px;
}

.chat {
    width:50%;
    height: 100%;
    margin: auto;
}


.messagesList {
    height: 80%;
    border: 1px solid #ccc;
    overflow: auto;
}

.messagesList::-webkit-scrollbar {
    display: none;
}

.chatName {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.leftSideMsg {
    word-break: break-all;
    text-align: left;
    margin-left: 20px;
    margin-right: 40px;
    margin-top: 20px;
}

.rightSideMsg {
    word-break: break-all;
    text-align: right;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 20px;
}

.dateEntry {
    text-align: center;
    font-size: 21px;
    margin: 15px;
}

.nameEntry {
    font-weight: bold;
}

.messageDate {
    font-size: 10px;
    position: relative;
    top: 5px;
}

.createChatBlock{
    display: none;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin:auto;
}

.friendsList{

}

.friendsListBlock {
    margin-top: 15px;
    height: 90%;
    border: 1px solid #ccc;
    overflow: auto;
}

.createChatButtonBlock {
    margin-top: 15px;
}

.friendsListBlock::-webkit-scrollbar {
    display: none;
}

.friendEntryTemplate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
}

.friendChosenCheckbox {
    transform: scale(1.5)
}

.friendNameLabel {

}

.friendProfileImage {
    border: 1px solid;
    height: 40px;
    aspect-ratio: 1/1;
}
