.pageContent {
    display: block;
    height: 100%;
}

.chatsList {
    display: block;
    font-size: 30px;
    max-height: inherit;
    vertical-align: central;
}

.chatEntry {
    font-size: 40px;
}

.chat {
    width:50%;
    height: 100%;
    margin: auto;
}


.messagesList {
    height: 90%;
    border: 1px solid #ccc;
    overflow: auto;
}

.messagesList::-webkit-scrollbar {
    display: none;
}
