.options {
    display:block;
    font-size: 30px;
    max-height: inherit;
    vertical-align: central;
}

.option {
    display: inline;
    text-align:center;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: bottom;
}

.option:hover {
    border-bottom: 1px solid #ccc;
}

.friendsListStyle {
    display: block;
    position: relative;
    top: 50px;
    font-size: 25px;
}

.friendLabel {
    text-align: left;
    flex: 1;
}

.chatButton {
    position: relative;
    right: -350px;
}

.friendBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.friendButtons {
    text-align: right;
}