/* content start*/
.content {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    height: 600px;
    text-align: center;
}
/* content end*/

/* sidebar start*/
.menuSidebar {
    display: inline-block;
    width: 20%;
    border-right: 1px solid #ccc;
    height: 600px;
    text-align: center;
    vertical-align: top;
}
/* sidebar end*/

.rightSidebar {
    display: inline-block;
    width: 20%;
    border-left: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}