/* content start*/
.content {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    height: 600px;
    text-align: center;
}
/* content end*/

/* sidebar start*/
.menuSidebar {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-content:space-between;
    border-right: 1px solid #ccc;
    height: 600px;
    text-align: center;
    vertical-align: top;
}
/* sidebar end*/

.rightSidebar {
    display: flex;
    flex-direction: column;
    width: 20%;
    border-left: 1px solid #ccc;
    text-align: center;
    vertical-align: top;
}

.sidebarbuttonsBlock {
    display: flex;
    flex-direction: column;
}

.sidebarButton {
    margin: auto;
    font-size: 25px;
    padding: .5rem 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sidebarButton:hover {
    border-bottom: 1px solid #ccc;
}

